div{
    font-family: Arial, Helvetica, sans-serif;
}

.piano-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.piano {
  position: relative;
  width: 500px;
  height: auto;
  background: #141414;
  border-radius: 1rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

/* White Keys */
.key.white {
  background: white;
  height: 200px;
  width: 60px;
  border: 1px solid #141414;
  border-radius: 0 0 5px 5px;
  margin: 0 2px;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  user-select: none;
}

/* Black Keys */
.key.black {
  background: black;
  height: 120px;
  width: 40px;
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 0;
  z-index: 2;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  user-select: none;
}

/* Positioning black keys */
.key[data-note="C#"] {
  left: 45px;
}

.key[data-note="D#"] {
  left: 110px;
}

.key[data-note="F#"] {
  left: 235px;
}

.key[data-note="G#"] {
  left: 300px;
}

.key[data-note="A#"] {
  left: 365px;
}

/* Hover and Active States */
.key.white:active,
.key.white.active {
  background: #f0f0f0;
  transform: translateY(3px);
}

.key.black:active,
.key.black.active {
  background: #333;
  transform: translateY(3px);
}
