.heading , .content{
    
    color: red;
    font-size: 70px;
    font-style: italic;
}

h1,div{
border: 5px blue;
border-radius: 20px;  
}

#heading , #footer{
    color: darkgreen;
   font: italic darkgreen 70px;
}




